<div class="modal-dialog modal-add-dataset">
    <div class="modal-content">
        <div class="modal-header admin-modal-header">
            <button type="button" class="modal-close-btn close" ng-click="Modal.cancel()"><span aria-hidden="true">&times;</span></button>
            <h2 class="pvotes-box-title access-color">More information
                <small class="bold">Research use statement (RUS)</small>
            </h2>
        </div>
        <div class="admin-modal-content">
            <span class="default-color">
             {{rus}}
            </span>
        </div>
        <div class="modal-footer admin-modal-footer">
            <button class="col-lg-3 col-md-3 col-sm-4 col-xs-6 btn access-background" ng-click="Modal.cancel()">Close</button>
        </div>
    </div>
</div>
