<div ng-include src="'app/header/header.html'"></div>
<div class="container">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="cm-title common-color">
            <div id="dacUser">Welcome {{currentUser.displayName}}!</div>
            <small>These are your pending cases for review</small>
        </h2>
        <hr class="section-separator">
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row no-margin">
            <h2 class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pvotes-box-title dul-color">
                <img src="assets/images/icon_dul.png" alt="Data Use Limitations Review icon" class="pvotes-icons">Data Use Limitations Review</br>
                <div class="pvotes-box-title-description">Were data use limitations accurately converted to a structured format?</div>
            </h2>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-reviewed no-padding">
                <div class="search-text">
                    <i class="glyphicon glyphicon-search dul-color"></i>
                    <input type="search" class="form-control users-search" placeholder="Enter search term..." ng-model="searchDULCases"/>
                </div>
            </div>
        </div>
        <div class="jumbotron box-vote-singleresults">
            <div class="row">
                <div class="pvotes-box-head">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 pvotes-box-subtitle dul-color">Consent id</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 center-text pvotes-box-subtitle dul-color">Review/Vote
                        <div ng-show="ChairConsole.totalDulPendingVotes > 0" id="dulPendingVoteCases" class="pcases-small-tag">{{ChairConsole.totalDulPendingVotes}}</div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 center-text pvotes-box-subtitle dul-color">
                        Logged
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 center-text pvotes-box-subtitle dul-color">Actions </div>
                    <hr class="pvotes-main-separator">
                </div>
                <div class="pvotes-box-body">
                    <div dir-paginate="pendingCase in ChairConsole.electionsList.dul | filter: searchDULCases | itemsPerPage:5" pagination-id="dulCases">
                        <hr class="pvotes-separator">
                        <div class="row pvotes-main-list">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 pvotes-list-id">{{pendingCase.frontEndId}}</div>
                            <a ui-sref="dul_review({consentId: '{{pendingCase.referenceId}}', voteId: '{{pendingCase.voteId}}'})" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="voteButton {{pendingCase.alreadyVoted ? 'editable' : 'enabled'}}">
                                    <span ng-if="pendingCase.alreadyVoted == false">Vote</span>
                                    <span ng-if="pendingCase.alreadyVoted == true">Edit</span>
                                </div>
                            </a>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 pvotes-list">{{pendingCase.logged}}</div>
                            <a ui-sref="dul_review_results({consentId: '{{pendingCase.referenceId}}'})"
                               class="col-lg-2 col-md-2 col-sm-2 col-xs-3 no-padding">
                                <div class="collectButton {{pendingCase.alreadyVoted ? 'enabled' : 'disabled'}} ">
                                    <span ng-if="pendingCase.alreadyVoted == false">---</span>
                                    <span ng-if="pendingCase.alreadyVoted == true">Collect Votes</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr class="pvotes-separator">
                </div>
                <div dir-pagination-controls
                     max-size="5"
                     direction-links="true"
                     boundary-links="true"
                     class="pvotes-pagination"
                     pagination-id="dulCases"
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row no-margin">
            <h2 class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pvotes-box-title access-color">
                <img src="assets/images/icon_access.png" alt="Data Access Review icon" class="pvotes-icons">Data Access Request Review</br>
                <div class="pvotes-box-title-description">Should data access be granted to this applicant?</div>
            </h2>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-reviewed no-padding">
                <div class="search-text">
                    <i class="glyphicon glyphicon-search access-color"></i>
                    <input type="search" class="form-control users-search" placeholder="Enter search term..." ng-model="searchAccessCases"/>
                </div>
            </div>
        </div>
        <div class="jumbotron box-vote-singleresults">
            <div class="row">
                <div class="pvotes-box-head">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 pvotes-box-subtitle access-color">Data Request Id
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 center-text pvotes-box-subtitle access-color">Review/Vote
                        <div ng-show="ChairConsole.totalAccessPendingVotes > 0" id="accessPendingVoteCases" class="pcases-small-tag">{{ChairConsole.totalAccessPendingVotes}}</div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 center-text pvotes-box-subtitle access-color">
                        Logged
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 center-text pvotes-box-subtitle access-color">
                        Actions
                    </div>
                    <hr class="pvotes-main-separator">
                </div>
                <div class="pvotes-box-body">
                    <div dir-paginate="pendingCase in ChairConsole.electionsList.access | filter: searchAccessCases | itemsPerPage:5" pagination-id="accessCases">
                        <hr class="pvotes-separator">
                        <div class="row pvotes-main-list">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 pvotes-list-id">{{pendingCase.frontEndId}}</div>
                            <a ui-sref="access_review({darId: '{{pendingCase.referenceId}}', voteId: '{{pendingCase.voteId}}', rpVoteId:'{{pendingCase.rpVoteId}}'})" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="voteButton {{pendingCase.alreadyVoted ? 'editable' : 'enabled'}}" ng-show="pendingCase.electionStatus !== 'Final'" >
                                    <span ng-if="pendingCase.alreadyVoted == false && pendingCase.electionStatus !== 'Final'">Vote</span>
                                    <span ng-if="pendingCase.alreadyVoted == true">Edit</span>
                                </div>
                            </a>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 pvotes-list">{{pendingCase.logged}}</div>
                            <div ng-if="!pendingCase.alreadyVoted && pendingCase.electionStatus !== 'Final'">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 no-padding collectButton {{pendingCase.alreadyVoted ? 'enabled' : 'disabled' }}">
                                    <span>---</span>
                                </div>
                                </a>
                            </div>
                            <div ng-if="pendingCase.alreadyVoted && !pendingCase.isFinalVote && pendingCase.electionStatus !== 'Final' ">
                                <a ui-sref="access_review_results({referenceId: '{{pendingCase.referenceId}}' , electionId: '{{pendingCase.electionId}}'})" class="col-lg-2 col-md-2 col-sm-2 col-xs-3 no-padding">
                                    <div class="collectButton {{pendingCase.alreadyVoted ? 'enabled' : 'disabled'}}">
                                        <span>Collect Votes</span>
                                    </div>
                                </a>
                            </div>
                            <div ng-if="pendingCase.electionStatus === 'Final'">
                                <a ui-sref="final_access_review_results({referenceId: '{{pendingCase.referenceId}}', electionId: '{{pendingCase.electionId}}', rpElectionId: '{{pendingCase.rpElectionId}}'})" class="col-lg-2 col-md-2 col-sm-2 col-xs-3 no-padding">
                                    <div class="collectButton {{pendingCase.alreadyVoted ? 'enabled' : 'disabled'}}">
                                        <span>FINAL VOTE</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr class="pvotes-separator">
                </div>
                <div dir-pagination-controls
                     max-size="5"
                     direction-links="true"
                     boundary-links="true"
                     class="pvotes-pagination"
                     pagination-id="accessCases">
                </div>
            </div>
        </div>
    </div>
</div>
