<nav class="navbar top-navigator-bar" role="navigation" ng-controller="Header as Header">
    <div class="row top-navigator">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="#/home" class="navbar-duos-brand">
                <img src="../assets/images/duos_logo.svg" alt="DUOS Logo">
            </a>
        </div>

        <div class="collapse navbar-collapse no-padding" collapse="navbarCollapsed">

            <ul class="navbar-right no-margin">
                <li class="dropdown user-li" dropdown is-open="status.isopen">
                    <a role="button" class="dropdown-toggle" data-toggle="dropdown" href="#" dropdown-toggle ng-disabled="disabled">
                        <div id="dacUser">{{$root.currentUser.displayName}} <span class="caret caret-margin"></span></div>
                        <small id="dacUserMail"> {{$root.currentUser.email}}</small>
                    </a>
                    <ul class="dropdown-menu user-dropdown" role="menu">
                        <li ng-repeat="rol in $root.currentUser.roles" ng-show="'{{rol.name}}' === '{{$root.userRoles.researcher}}'"><a href="#/researcher_profile">Your Profile</a></li>
                        <li><a href onclick="signOut();">Sign out</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-left no-margin">
                <li ng-repeat="rol in $root.currentUser.roles" ng-show="'{{rol.name}}' === '{{$root.userRoles.chairperson}}'">
                    <a href="#/chair_console">DAC Console</a>
                </li>
                <li ng-repeat="rol in $root.currentUser.roles" ng-show="'{{rol.name}}' === '{{$root.userRoles.member}}'">
                    <a href="#/user_console">DAC Console</a>
                </li>
                <li ng-repeat="rol in $root.currentUser.roles" ng-show="'{{rol.name}}' === '{{$root.userRoles.admin}}'">
                    <a href="#/admin_console">Admin Console</a>
                </li>
                <li ng-repeat="rol in $root.currentUser.roles" ng-show="'{{rol.name}}' === '{{$root.userRoles.researcher}}'">
                    <a href="#/researcher_console">Researcher Console</a>
                </li>
                <li ng-repeat="rol in $root.currentUser.roles" ng-show="'{{rol.name}}' === '{{$root.userRoles.dataOwner}}'">
                    <a href="#/data_owner_console">Data Owner Console</a>
                </li>
                <li ng-repeat="rol in $root.currentUser.roles" ng-show="'{{rol.name}}' === '{{$root.userRoles.researcher}}'">
                    <a href="" ng-click="Header.goToRP()"> Request Application</a>
                </li>
                <li class="dropdown" dropdown on-toggle="toggled(open)" ng-show="showStatistics($root.currentUser.roles, $root.userRoles)">
                    <a role="button" class="dropdown-toggle" href="#" dropdown-toggle>
                        <div>Statistics <span class="caret caret-margin"></span></div>
                    </a>
                    <ul class="dropdown-menu user-dropdown" role="menu">
                        <li><a href="#/summary_votes" class="f-left">Votes Statistics</a></li>
                        <hr>
                        <li ng-show="$root.currentUser.memberStatus !== 'RESEARCHER'">
                            <a ui-sref="reviewed_cases({menu: true})" class="f-left">Reviewed Cases Record</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#/dataset_catalog">Dataset Catalog</a></li>
                <li class="dropdown" dropdown on-toggle="toggled(open)">
                    <a role="button" class="dropdown-toggle" href="#" dropdown-toggle>
                        <div>Request Help <span class="caret caret-margin"></span></div>
                    </a>
                    <ul class="dropdown-menu user-dropdown" role="menu">
                        <li><a href="" class="f-left" ng-click="Header.helpMeModal()">Create a Report</a></li>
                        <hr>
                        <li><a href="#/help_me" class="f-left">List of Reports</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
