<div ng-include src="'app/header/header.html'"></div>
<div class="container">
    <div class="row no-margin">
        <h2 class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cm-title common-color no-padding">
            <img src="../assets/images/icon-manage-ontology.png" alt="Manage Ontology icon" class="cm-icons">Manage Ontologies
            <div class="cm-title-admin-description" style="margin-left: 70px!important;">Select and manage Ontologies for index</div>
        </h2>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 search-reviewed no-padding">
            <div class="search-text">
                <i class="glyphicon glyphicon-search common-color"></i>
                <input type="search" class="form-control users-search" placeholder="Enter search term..."
                       ng-model="searchAccess"/>
            </div>
        </div>
        <div>
            <a class="col-lg-3 col-md-3 col-sm-6 col-xs-6 admin-add-button common-background" ng-click="">
                <div class="all-icons add-dul_white"></div>
                <span>Add Ontologies</span>
            </a>
        </div>
    </div>

    <div class="jumbotron box-vote-singleresults">
        <div class="row manage-wrapper">
            <div class="pvotes-box-head fsi-row-lg-level fsi-row-md-level">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 pvotes-box-subtitle common-color">File name</div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-box-subtitle common-color">Type</div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-box-subtitle common-color">Prefix</div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pvotes-box-subtitle f-center common-color"></div>
            </div>

            <div class="admin-box-body">
                <hr class="pvotes-main-separator">
                <div pagination-id="ontologies">
                    <div class="row pvotes-main-list">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 pvotes-list-id">data_use.owl</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-list-id">Organization</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-list-id">DURPO</div>
                        <div class="remove-dul-col">
                            <a ng-click="">
                                <span class="cm-icon-button glyphicon glyphicon-trash caret-margin" aria-hidden="true"></span>
                            </a>
                            <hr class="pvotes-separator-longer">
                        </div>
                    </div>
                    <hr class="pvotes-separator">
                </div>
                <div dir-pagination-controls
                     max-size="10"
                     direction-links="true"
                     boundary-links="true"
                     class="pvotes-pagination"
                     pagination-id="ontologies">
                </div>
            </div>
        </div>
    </div>
</div>
