<div class="modal-add-dataset">
    <div class="modal-content">
        <div class="modal-header admin-modal-header">
            <button type="button" class=" modal-close-btn close" ng-click="ElectionTimeoutModal.cancel()"><span aria-hidden="true">&times;</span></button>
            <h2 class="cm-title-admin common-color">
                <img src="../assets/images/icon_timeout.png" alt="Set Data Owner Timeout" class="cm-icons">
                <span>Set Data Owner election Timeout</span>
                <div class="cm-title-description">Manage Data Owner election expiration time</div>
            </h2>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="electionTimeoutForm" novalidate>
                <fieldset>
                    <div class="form-group admin-form-group first-form-group">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label common-color">
                            <label>Current timeout: </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 admin-input response-label">
                            <label>{{timeout.amountOfDays}} days</label>
                        </div>
                    </div>
                    <div class="form-group admin-form-group">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label common-color">
                            <label>Last updated by:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 admin-input response-label">
                            <label>{{timeout.displayName}}</label>
                        </div>
                    </div>
                    <div class="form-group admin-form-group" ng-if="timeout.updateDate != null">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label common-color">
                            <label>Last updated date:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 admin-input response-label">
                            <label>{{timeout.updateDate | date:dateFormat}}</label>
                        </div>
                    </div>
                    <div class="form-group admin-form-group" ng-if="timeout.updateDate == null && timeout.createDate != null ">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label common-color">
                            <label>Last updated date:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 admin-input response-label">
                            <label>{{timeout.createDate | date:dateFormat}}</label>
                        </div>
                    </div>
                    <div class="form-group admin-form-group">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label common-color">
                            <label>Set new timeout:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 admin-input">
                            <input type="number" min="1" ng-model="timeout.newTimeout" name="days" required ng-change="setTimeout()" style="width: 55px; padding: 5px 2px 2px 5px; color: #777777;">
                        </div>
                    </div>
                    <div class="admin-modal-footer">
                        <div class="form-group dataset-form-group">
                            <div ng-if="alert != null"  class="admin-alerts dataset-admin-alerts">
                                <alert type="danger" class="alert-title cancel-color no-margin">
                                    <h4>{{alert.title}}</h4>{{alert.msg}}
                                </alert>
                            </div>
                        </div>
                        <button ng-disabled="electionTimeoutForm.$invalid || alert != null || disableButton" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 btn common-background" ng-click="ElectionTimeoutModal.ok()">Add</button>
                        <button  class="col-lg-3 col-md-3 col-sm-4 col-xs-6 btn dismiss-background" ng-click="ElectionTimeoutModal.cancel()">Cancel</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
