<div ng-include src="'app/header/header.html'"></div>
<div class="container">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="cm-title common-color">
            <div id="dacUser">Welcome {{currentUser.displayName}}!</div>
            <small>These are your Data Access Request cases</small>
        </h2>
        <hr class="section-separator">
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row no-margin">
            <h2 class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pvotes-box-title access-color">
                <img src="assets/images/icon_access.png" alt="Data Access Request icon" class="pvotes-icons">Data Access Request cases<br>
                <div class="pvotes-box-title-description">List of your Requests for Data Access</div>
            </h2>
            <a class="col-lg-4 col-md-4 col-sm-4 col-xs-12 admin-add-button access-background search-reviewed" href="/#/rp_application/step1">
                <div class="all-icons add-access_white"></div>
                <span>Create Data Access Request</span>
            </a>
        </div>
        <div class="jumbotron box-vote-singleresults box-vote-no-margin">
            <div class="row">
                <div class="pvotes-box-head row fsi-row-lg-level fsi-row-md-level no-margin">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle access-color">Data Request id</div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-box-subtitle access-color">Project title</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle access-color">Date</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle f-center access-color">Status</div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pvotes-box-subtitle f-center access-color">Cancel</div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pvotes-box-subtitle f-center access-color">Review</div>
                    <hr class="pvotes-main-separator">
                </div>
                <div class="pvotes-box-body">
                    <div dir-paginate="dar in ResearcherConsole.dars | filter: searchAccess | itemsPerPage:10" pagination-id="researcherConsole">
                        <hr class="pvotes-separator">
                        <div class="row pvotes-main-list no-margin">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{dar.frontEndId}}</div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-list-id">{{dar.projectTitle}}</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{dar.createDate | date:dateFormat}}</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list bold">
                                <span ng-if="dar.electionStatus === 'un-reviewed'">Submitted</span>
                                <span ng-if="dar.electionStatus === 'Open' || dar.electionStatus === 'Final' || dar.electionStatus === 'PendingApproval'">In review</span>
                                <span ng-if="dar.electionStatus === 'Canceled'">Canceled</span>
                                <span ng-if="dar.electionStatus === 'Closed' && dar.electionVote === false">DENIED</span>
                                <span ng-if=" dar.electionStatus === 'Closed' && dar.electionVote === true">APPROVED</span>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                <a class="admin-manage-buttons">
                                    <div ng-if="!dar.isCanceled"  class="enabled cancel-color" ng-click="ResearcherConsole.cancelDar(dar.dataRequestId)">
                                        <span>Cancel</span>
                                    </div>
                                    <div ng-if="dar.isCanceled" class="disabled cancel-color">
                                        <span>Canceled</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                <a class="admin-manage-buttons">
                                    <div class="enabled hover-color" ng-click="ResearcherConsole.review(dar.dataRequestId)">
                                        <span>Review</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr class="pvotes-separator">
                </div>
                <div dir-pagination-controls
                     max-size="10"
                     direction-links="true"
                     boundary-links="true"
                     class="pvotes-pagination"
                     pagination-id="researcherConsole">
                </div>
            </div>
        </div>
        <div class="row no-margin" ng-hide="ResearcherConsole.partialDars == 0">
            <h2 class="cm-title default-color no-margin"><small><b>Saved Data Access Requests</b></small></h2>

            <div class="jumbotron box-vote-singleresults box-vote-no-margin">
                <div class="row">
                    <div class="pvotes-box-head row fsi-row-lg-level fsi-row-md-level no-margin">
                        <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1 pvotes-box-subtitle default-color">Temporary id</div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 pvotes-box-subtitle default-color">Project title</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle default-color">Date</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle f-center default-color">Resume</div>
                        <hr class="pvotes-main-separator">
                    </div>
                    <div class="pvotes-box-body">
                        <div dir-paginate="pdar in ResearcherConsole.partialDars | filter: searchAccess | itemsPerPage:10" pagination-id="researcherPartialConsole">
                            <hr class="pvotes-separator">
                            <div class="row pvotes-main-list no-margin">
                                <a class="col-lg-1 col-md-1 col-sm-1 col-xs-1 delete-dar default-color no-padding" ng-click="ResearcherConsole.cancelPartialDar(pdar.dataRequestId)">
                                    <span class="cm-icon-button glyphicon glyphicon-trash caret-margin" aria-hidden="true"></span>
                                </a>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{pdar.partial_dar_code}}</div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 pvotes-list-id">{{pdar.projectTitle}}</div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{pdar.createDate | date:dateFormat}}</div>
                                <a class="admin-manage-buttons col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
                                    <div class="enabled hover-color" ng-click="ResearcherConsole.resume(pdar.dataRequestId)">
                                        <span>Resume</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <hr class="pvotes-separator">
                    </div>

                    <div dir-pagination-controls
                         max-size="10"
                         direction-links="true"
                         boundary-links="true"
                         class="pvotes-pagination"
                         pagination-id="researcherPartialConsole">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
