<div ng-include src="'app/header/header.html'"></div>
<div class="container">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="common-color cm-title">Welcome {{currentUser.displayName}}!</br><small>What would you like to do today?</small></h2>
        <hr class="section-separator">
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row fsi-row-lg-level fsi-row-md-level">
            <a href="#/admin_manage_dul" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 console-boxes admin-icons">
                <div class="all-icons manage-dul"></div>
                <div class="admin-icon-subtitles dul-color">Manage Data Use Limitations
                    <div ng-show="AdminConsole.dULUnreviewedCases > 0" class="pcases-medium-tag">{{AdminConsole.dULUnreviewedCases}}</div>
                </div>
                <div class="cm-title-description">Select and manage Data Use Limitations Record for review</div>
            </a>
            <a href="" ng-click="AdminConsole.addDul()" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 console-boxes admin-icons">
                <div class="all-icons add-dul"></div>
                <span class="admin-icon-subtitles dul-color">Add Data Use Limitations</span>
                <div class="cm-title-description">Catalog a Data Use Limitation Record in the system</div>
            </a>
        </div>
        <div class="row fsi-row-lg-level fsi-row-md-level">
            <a href="#/admin_users" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 console-boxes admin-icons">
                <div class="all-icons manage-user"></div>
                <span class="admin-icon-subtitles common-color">Manage Users</span>
                <div class="cm-title-description">Select and manage Users and their roles</div>
            </a>
            <a href="" ng-click="AdminConsole.addUser()" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 console-boxes admin-icons">
                <div class="all-icons add-user"></div>
                <span class="admin-icon-subtitles common-color">Add User</span>
                <div class="cm-title-description">Catalog a new User in the system</div>
            </a>
        </div>
        <div class="row fsi-row-lg-level fsi-row-md-level">
            <a href="#/admin_manage_access" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 console-boxes admin-icons">
                <div class="all-icons manage-access"></div>
                <div class="admin-icon-subtitles access-color">Manage Data Access Request
                    <div ng-show="AdminConsole.dARUnreviewedCases > 0" class="pcases-medium-tag">{{AdminConsole.dARUnreviewedCases}}</div>
                </div>
                <div class="cm-title-description">Select and manage Data Access Request for review</div>
            </a>
            <a href="" ng-click="AdminConsole.addDataSets()" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 console-boxes admin-icons">
                <div class="all-icons add-dataset"></div>
                <span class="admin-icon-subtitles dataset-color">Add Datasets</span>
                <div class="cm-title-description">Store Datasets associated with Data Use Limitations</div>
            </a>
        </div>
        <div class="row fsi-row-lg-level fsi-row-md-level">
            <a href="" ng-click="AdminConsole.setTimeout()" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 console-boxes console-boxes-margin admin-icons">
                <div class="all-icons manage-timeout"></div>
                <div class="admin-icon-subtitles common-color">Set Data Owner election Timeout</div>
                <div class="cm-title-description">Manage Data Owner election expiration time</div>
            </a>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>

        </div>
    </div>
</div>
