<div class="modal-confirmation-alerts">
    <div class="modal-content">
        <div class="modal-header admin-modal-header">
            <button type="button" class="modal-close-btn close" ng-click="ModalReminder.cancel()"><span aria-hidden="true">&times;</span></button>
            <h2 class="pvotes-box-title" ng-class="{'cancel-color': messageType == 'failure', 'dul-color': messageType == 'successDUL', 'access-color':  messageType == 'successDAR'}">{{title}}
                <small>{{msg}}</small>
            </h2>
        </div>
        <div class="modal-footer admin-modal-footer">
            <button ng-class="{'cancel-background': messageType == 'failure', 'dul-background': messageType == 'successDUL', 'access-background':  messageType == 'successDAR'}" type="button" class="btn" ng-click="ModalReminder.ok()"> Ok </button>
        </div>
    </div>
</div>
