<div class="modal-add-dul modal-app-summary">
    <div class="modal-content">
        <div class="modal-header admin-modal-header">
            <button type="button" class="modal-close-btn close" ng-click="ApplicationModal.cancel()"><span aria-hidden="true">&times;</span></button>
            <h2 class="pvotes-box-title access-color">Application Summary
                <small class="bold">Data Access Request Application Summary</small>
            </h2>
        </div>
        <div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 admin-modal-content app-summary-modal-content app-summary-modal-first-content">
                <div class="row">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label access-color">Principal Investigator</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 response-label">{{summary.principalInvestigator}}</div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label access-color">Institution Name</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 response-label">{{summary.institutionName}}</div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label access-color">Project Title</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 response-label">{{summary.projectTitle}}</div>
                </div>
                <hr>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 app-summary-modal-content">
                <div class="row">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label access-color">Datasets</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 response-label">
                        <ul>
                            <li ng-repeat="(key, data) in summary.datasetDetail"><b>{{key + "  " + data}}</b></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 app-summary-modal-content">
                <div class="row">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label access-color">Type of research</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 response-label">
                        <ul>
                            <li ng-repeat="rt in summary.researchType"><b>{{rt.title}}</b>{{rt.description}}</li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div ng-if="summary.thereDiseases == true"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 app-summary-modal-content">
                <div class="row">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label access-color">Disease area(s)</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 response-label">
                        <ul>
                            <li ng-repeat="disease in summary.diseases">{{disease}}</li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div ng-if="summary.therePurposeStatements === true" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 app-summary-modal-content">
                <div class="row">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label access-color">Purpose Statement</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 response-label">
                        <ul>
                            <li ng-repeat="rt in summary.purposeStatements" ng-class="{'cancel-color': rt.manualReview}"><b>{{rt.title}}</b>{{rt.description}}</li>
                        </ul>
                    </div>
                </div>
                <div ng-if="summary.sensitivePopulation == true" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger cancel-color">
                    This research involves studying a sensitive population and requires manual review.
                </div>
                <hr>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 app-summary-modal-content">
                <div ng-if="summary.requiresManualReview == true && summary.sensitivePopulation == false" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger cancel-color">
                    This research requires manual review.
                </div>
            </div>
        </div>
        <div class="modal-footer admin-modal-footer app-summary-modal-footer">
            <button class="col-lg-3 col-md-3 col-sm-4 col-xs-6 btn access-background" ng-click="ApplicationModal.cancel()">Close</button>
        </div>
    </div>
</div>
