<div ng-include src="'app/header/header.html'"></div>
<div class="container">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="cm-title common-color">
            <div id="dacUser">Welcome {{currentUser.displayName}}!</div>
            <small>These are your Data Access Request cases</small>
        </h2>
        <hr class="section-separator">
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row no-margin">
            <h3 class="col-lg-8 col-md-8 col-sm-8 col-xs-6 cm-title access-color no-padding">
                <img src="assets/images/icon_access.png" alt="data access icon" class="pvotes-icons">Data Access Request cases
                <div class="pvotes-box-title-description">List of your requests for data access.</div>
            </h3>
            <a class="col-lg-4 col-md-4 col-sm-4 col-xs-6 admin-add-button access-background" href="/#/rp_application/step1">
                <div class="all-icons add-access_white"></div>
                <span>Create Data Access Request</span>
            </a>
        </div>
        <div class="jumbotron box-vote-singleresults">
            <div class="row">
                <div class="pvotes-box-head">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle access-color">Data Request id</div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-box-subtitle access-color">Project title</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle access-color">Date</div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pvotes-box-subtitle f-center access-color">+ Info</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle f-center access-color">Status</div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pvotes-box-subtitle f-center access-color">Review</div>
                    <hr class="pvotes-main-separator">
                </div>
                <div class="pvotes-box-body">
                    <div dir-paginate="dar in ResearcherConsole.dars | filter: searchAccess | itemsPerPage:10" pagination-id="researcherConsole">
                        <hr class="pvotes-separator">
                        <div class="row pvotes-main-list">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{dar.frontEndId}}</div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-list-id">{{dar.projectTitle}}</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{dar.createDate | date:'yyyy-MM-dd'}}</div>
                            <a href="" class="admin-manage-buttons col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                <div class="enabled hover-color" ng-click="ResearcherConsole.openRUS(dar.rus)">
                                    <span>RUS</span>
                                </div>
                            </a>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list bold">
                                <span ng-if="dar.electionStatus === 'un-reviewed'">Submitted</span>
                                <span ng-if="dar.electionStatus === 'Open'">In review</span>
                                <span ng-if="dar.electionStatus === 'Canceled'">Canceled</span>
                                <span ng-if="dar.electionStatus === 'Closed' && dar.electionVote === false">DENIED</span>
                                <span ng-if=" dar.electionStatus === 'Closed' && dar.electionVote === true">APPROVED</span>
                            </div>

                            <a class="admin-manage-buttons col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                <div  class="enabled hover-color" ng-click="ResearcherConsole.review(dar.dataRequestId)">
                                    <span>Review</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr class="pvotes-separator">
                </div>
                <div dir-pagination-controls
                     max-size="10"
                     direction-links="true"
                     boundary-links="true"
                     class="pvotes-pagination"
                     pagination-id="researcherConsole">
                </div>
            </div>
        </div>
        <div class="jumbotron box-vote-singleresults">
            <div class="row">
                <div class="pvotes-box-head">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle access-color">Data Request id</div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-box-subtitle access-color">Project title</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle access-color">Date</div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pvotes-box-subtitle f-center access-color">+ Info</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle f-center access-color">Status</div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pvotes-box-subtitle f-center access-color">Resume</div>
                    <hr class="pvotes-main-separator">
                </div>
                <div class="pvotes-box-body">
                    <div dir-paginate="pdar in ResearcherConsole.partialDars | filter: searchAccess | itemsPerPage:10" pagination-id="researcherPartialConsole">
                        <hr class="pvotes-separator">
                        <div class="row pvotes-main-list">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{pdar.partial_dar_code}}</div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-list-id">{{pdar.projectTitle}}</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{pdar.createDate | date:'yyyy-MM-dd'}}</div>
                            <a href="" class="admin-manage-buttons col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                <div class="enabled hover-color" ng-click="ResearcherConsole.openRUS(pdar.rus)">
                                    <span>RUS</span>
                                </div>
                            </a>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list bold">
                                <span ng-if="pdar.electionStatus === 'un-reviewed'">Submitted</span>
                                <span ng-if="pdar.electionStatus === 'Open'">In review</span>
                                <span ng-if="pdar.electionStatus === 'Canceled'">Canceled</span>
                                <span ng-if="pdar.electionStatus === 'Closed' && pdar.electionVote === false">DENIED</span>
                                <span ng-if="pdar.electionStatus === 'Closed' && pdar.electionVote === true">APPROVED</span>
                            </div>

                            <a class="admin-manage-buttons col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                <div class="enabled hover-color" ng-click="ResearcherConsole.resume(pdar.dataRequestId)">
                                    <span>Resume</span>
                                </div>
                            </a>

                            <a class="admin-manage-buttons col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                <div class="enabled hover-color" ng-click="ResearcherConsole.cancel(pdar.dataRequestId)">
                                    <span>Cancel</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr class="pvotes-separator">
                </div>

                <div dir-pagination-controls
                     max-size="10"
                     direction-links="true"
                     boundary-links="true"
                     class="pvotes-pagination"
                     pagination-id="researcherPartialConsole">
                </div>
            </div>
        </div>
    </div>
</div>
