<script src="https://apis.google.com/js/api:client.js"></script>
<div ng-include src="'app/header/header.html'"></div>

<div class="row home">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="home-title">
            <h1>Join DUOS</h1></div>
        <div class="home-title-description">Sign up to DUOS to find genomic datasets of interest and to submit Data Access Requests.</div>
        <hr class="home-line">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                <label class="home-control-label col-lg-12 col-md-12 col-sm-12 col-xs-12">Full Name</label>
                <input class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" type="text" ng-model="form.name">
            </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 pos-relative">
            <div class="custom-g-signin2 g-signin2 signInRegister" data-onsuccess="onSignIn" data-theme="dark"></div>
            <div ng-if="!form.name" class="signInDisabledButton"></div>
        </div>
     </div>
</div>
