<div ng-include src="'app/header/header.html'"></div>
<div class="container container-wide">
    <div class="row fsi-row-lg-level fsi-row-md-level title-wrapper">
        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 no-padding">
            <img src="assets/images/icon_access.png" alt="Data Access Request icon" class="cm-icons main-icon-title">
            <h2 class="main-title margin-sm access-color">Data Access Congruence Review
                <span class="main-title-case"><b>{{request.projectTitle}}</b> | {{consentName}}</span>
            </h2>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 no-padding">
            <a href="#/user_console" ng-repeat="rol in $root.currentUser.roles" ng-show="'{{rol.name}}' === '{{$root.userRoles.member}}'" class="btn vote-button vote-button-back vote-button-bigger">
                <i class="glyphicon glyphicon-chevron-left"></i>Back
            </a>
            <a href="#/chair_console" ng-repeat="rol in $root.currentUser.roles" ng-show="'{{rol.name}}' === '{{$root.userRoles.chairperson}}'" class="btn vote-button vote-button-back vote-button-bigger">
                <i class="glyphicon glyphicon-chevron-left"></i>Back
            </a>
        </div>
    </div>
    <accordion>
        <accordion-group class="accordion" is-open="true">
            <accordion-heading>
                <a data-toggle="collapse" ng-click="isQ1Expanded=!isQ1Expanded">
                    <h3 class="access-color italic"><span ng-if="showRPaccordion">Q1.</span> Should data access be granted to this applicant?
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': isQ1Expanded, 'glyphicon-chevron-down': !isQ1Expanded}"></i>
                    </h3>
                </a>
            </accordion-heading>
            <h4 class="hint">Please review the Application Summary and Data Use Limitations to determine if the researcher should be granted access to the data</h4>

            <div class="row fsi-row-lg-level fsi-row-md-level no-margin">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 panel panel-primary cm-boxes">
                    <div class="panel-heading cm-boxhead access-color">
                        <h4>Application Summary</h4>
                    </div>
                    <div id="rp" class="panel-body row">
                        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                            <div ng-if="darInfo.havePI" class="row no-margin">
                                <label class="control-label access-color">PI:</label>
                                <span class="response-label no-padding">{{darInfo.pi}}</span>
                            </div>

                            <div class="row no-margin">
                                <label class="control-label access-color">Researcher:</label>
                                <span class="response-label no-padding">{{darInfo.profileName}}</span>
                            </div>
                            <div class="row no-margin">
                                <label class="control-label no-padding">Status:</label>
                                <span class="response-label no-padding">{{darInfo.status}}</span>
                            </div>
                            <div ng-if="darInfo.hasAdminComment" class="row no-margin">
                                <label class="control-label no-padding">Comment:</label>
                                <span class="response-label no-padding">{{darInfo.adminComment}}</span>
                            </div>

                            <div class="row no-margin">
                                <label class="control-label access-color">Institution:</label>
                                <span class="response-label no-padding">{{darInfo.institution}}</span>
                            </div>

                            <div class="row no-margin">
                                <label class="control-label access-color">Department:</label>
                                <span class="response-label no-padding">{{darInfo.department}}</span>
                            </div>

                            <div class="row no-margin">
                                <label class="control-label access-color">City:</label>
                                <span class="response-label no-padding">{{darInfo.city}}</span>
                            </div>

                            <div class="row no-margin">
                                <label class="control-label access-color">Country:</label>
                                <span class="response-label no-padding">{{darInfo.country}}</span>
                            </div>

                            <!--IMPLEMENT THIS FEATURE IN BTRX-277-->
                            <!-- <button class="col-lg-6 col-md-6 col-sm-6 col-xs-12 btn download-pdf hover-color" ng-click="">Download Full Application</button> -->
                        </div>

                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                            <div class="row dar-summary">
                                <div class="control-label access-color">Research Purpose</div>
                                <div class="response-label">{{dar.rus}}</div>
                            </div>

                            <div ng-if="darInfo.hasPurposeStatements" class="row dar-summary">
                                <div class="control-label access-color">Purpose Statement</div>
                                <div class="response-label">
                                    <ul>
                                        <li ng-repeat="purpose in darInfo.purposeStatements" ng-class="{'cancel-color': purpose.manualReview}"><b>{{purpose.title}}</b> {{purpose.description}}</li>
                                    </ul>
                                </div>
                                <div ng-if="darInfo.purposeManualReview && !darInfo.researchTypeManualReview" class="dar-summary">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger cancel-color">
                                        This research involves studying a sensitive population and requires manual review.
                                    </div>
                                </div>
                            </div>

                            <div class="row dar-summary">
                                <div class="control-label access-color">Type of Research</div>
                                <div class="response-label">
                                    <ul>
                                        <li ng-repeat="type in darInfo.researchType" ng-class="{'cancel-color': type.manualReview}"><b>{{type.title}}</b> {{type.description}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="darInfo.researchTypeManualReview" class="row dar-summary">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger cancel-color">
                                    This research requires manual review.
                                </div>
                            </div>

                            <div ng-if="darInfo.hasDiseases" class="row dar-summary">
                                <div class="control-label access-color">Disease area(s)</div>
                                <div class="response-label">
                                    <ul>
                                        <li ng-repeat="disease in darInfo.diseases">{{disease}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panel panel-primary cm-boxes">
                    <div class="panel-heading cm-boxhead dul-color">
                        <h4>Data Use Limitations</h4>
                    </div>
                    <div id="dul" class="panel-body cm-boxbody">
                        <button class="col-lg-8 col-md-8 col-sm-6 col-xs-12 btn download-pdf hover-color" ng-click="downloadDUL()">Download Data Use Letter</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <div class="jumbotron box-vote access-background-lighter">
                    <h4 class="box-vote-title access-color italic"><span ng-if="showRPaccordion">Q1.</span> Should data access be granted to this applicant?</h4>
                    <hr class="box-separator">
                    <form class="form-horizontal" id="voteForm">
                        <fieldset ng-disabled="isFormDisabled">
                            <div class="form-group first-form-group">
                                <label
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-3 control-label vote-label access-color">Your vote*</label>

                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                    <div class="radio-inline">
                                        <input type="radio" ng-model="selection.voteStatus" ng-click="positiveVote()"
                                               class="regular-radio" id="inputVotePositive"
                                               ng-value="true" name="inputVote">
                                        <label for="inputVotePositive"></label>
                                        <label for="inputVotePositive" class="radio-button-text">Yes</label>

                                        <input type="radio" ng-model="selection.voteStatus" ng-click="setEnableDARButton()"
                                               ng-value="false" class="regular-radio" id="inputVoteNegative"
                                               name="inputVote">
                                        <label for="inputVoteNegative"></label>
                                        <label for="inputVoteNegative" class="radio-button-text">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <span ng-if="selection.voteStatus == '1'">
                                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-3 control-label vote-label access-color">Comments</label>
                                </span>
                                <span ng-if="selection.voteStatus != '1'">
                                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-3 control-label vote-label access-color">Rationale</label>
                                </span>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                    <input type="text" ng-model="selection.rationale"
                                           ng-change="setEnableDARButton()"
                                           name="inputRationale"
                                           class="form-control col-lg-10 col-md-8 col-sm-6 col-xs-6 vote-input"
                                           title="Optional: describe your rationale or add comments here (please be as specific as possible)"
                                           placeholder="Optional: describe your rationale or add comments here (please be as specific as possible)">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-lg-offset-9 col-md-3 col-md-offset-9 col-sm-6 col-sm-offset-6 col-xs-6 col-xs-offset-6 f-right no-margin">
                                    <button ng-disabled="selection.voteStatus === null || enableDARButton === false"
                                            ng-click="logVote()"
                                            class="btn btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12 vote-button access-background">
                                        Vote
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="votes-alerts votes-alerts-more-margin">
                                    <alert ng-repeat="alert in alertsDAR" type="danger"
                                           class="alert-title cancel-color f-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4>
                                            <b>{{alert.title}}</b><br>
                                            <i>{{alert.msg}}</i>
                                        </h4>
                                    </alert>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </accordion-group>
    </accordion>

    <accordion ng-if="showRPaccordion">
        <accordion-group class="accordion">
            <accordion-heading>
                <a data-toggle="collapse" ng-click="isQ2Expanded=!isQ2Expanded">
                    <h3 class="access-color italic">Q2. Was the research purpose accurately converted to a structured format?
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': isQ2Expanded, 'glyphicon-chevron-down': !isQ2Expanded}"></i>
                    </h3>
                </a>
            </accordion-heading>
            <h4 class="hint">Please review the Research Purpose and determine if it was appropriately converted to a Structured Research Purpose</h4>
            <div class="row fsi-row-lg-level fsi-row-md-level no-margin">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 panel panel-primary cm-boxes">
                    <div class="panel-heading cm-boxhead access-color">
                        <h4>Research Purpose</h4>
                    </div>
                    <div id="rpurpose" class="panel-body cm-boxbody">
                        <div style="margin-bottom: 10px;">{{dar.rus}}</div>
                        <!--IMPLEMENT THIS FEATURE IN BTRX-277-->
                        <!-- <button class="col-lg-6 col-md-6 col-sm-6 col-xs-12 btn download-pdf hover-color" ng-click="">Download Full Application</button> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 panel panel-primary cm-boxes">
                    <div class="panel-heading cm-boxhead access-color">
                        <h4>Structured Research Purpose</h4>
                    </div>
                    <div id="srp" class="panel-body cm-boxbody translated-restriction" ng-bind-html="rp"></div>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <div class="jumbotron box-vote access-background-lighter">
                    <h4 class="box-vote-title access-color italic">Q2. Was the research purpose accurately converted to a structured format?</h4>
                    <hr class="box-separator">
                    <form class="form-horizontal" id="voteRPForm">
                        <fieldset ng-disabled="isFormDisabled">
                            <div class="form-group first-form-group">
                                <label
                                    class="col-lg-2 col-md-2 col-sm-2 col-xs-3 control-label vote-label access-color">Your vote*</label>

                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                    <div class="radio-inline">
                                        <input type="radio" ng-model="selection.rpVoteStatus"
                                               ng-click="positiveRPVote()"
                                               ng-value="true" class="regular-radio" id="inputRPPositive"
                                               name="inputVote">
                                        <label for="inputRPPositive"></label>
                                        <label for="inputRPPositive" class="radio-button-text">Yes</label>

                                        <input type="radio" ng-model="selection.rpVoteStatus" ng-click="setEnableRPButton()"
                                               ng-value="false" class="regular-radio" id="inputRPNegative"
                                               name="inputVote">
                                        <label for="inputRPNegative"></label>
                                        <label for="inputRPNegative" class="radio-button-text">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <span ng-if="selection.rpVoteStatus == '1'">
                                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-3 control-label vote-label access-color">Comments</label>
                                </span>
                                <span ng-if="selection.rpVoteStatus != '1'">
                                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-3 control-label vote-label access-color">Rationale</label>
                                </span>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                    <input type="text" ng-model="selection.rpRationale" ng-change="setEnableRPButton()"
                                           name="inputRationale"
                                           class="form-control col-lg-10 col-md-8 col-sm-6 col-xs-6 vote-input"
                                           title="Optional: describe your rationale or add comments here (please be as specific as possible)"
                                           placeholder="Optional: describe your rationale or add comments here (please be as specific as possible)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-lg-offset-9 col-md-3 col-md-offset-9 col-sm-6 col-sm-offset-6 col-xs-6 col-xs-offset-6 f-right no-margin">
                                    <button ng-disabled="selection.rpVoteStatus === null || enableRPButton === false"
                                            ng-click="logRPVote()"
                                            class="btn btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12 vote-button access-background">
                                        Vote
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="votes-alerts votes-alerts-more-margin">
                                    <alert ng-repeat="alert in alertsRP" type="danger"
                                           class="alert-title cancel-color f-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4>
                                            <b>{{alert.title}}</b><br>
                                            <i>{{alert.msg}}</i>
                                        </h4>
                                    </alert>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>
