<div ng-include src="'app/header/header.html'"></div>
<div class="container container-wide">
    <div class="row no-margin">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-padding title-wrapper">
            <img src="../assets/images/icon_manage_access.png" alt="Manage DAR icon" class="cm-icons main-icon-title">
            <h2 class="main-title margin-sm access-color">Manage Data Access Request<br>
                <div class="main-title-description">Select and manage Data Access Request for DAC review</div>
            </h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 search-reviewed no-padding">
            <div class="search-text">
                <i class="glyphicon glyphicon-search access-color"></i>
                <input type="search" class="form-control users-search" placeholder="Enter search term..." ng-model="searchAccess" />
            </div>
        </div>
    </div>
    <div class="jumbotron box-vote-singleresults box-vote-no-margin">
        <div class="row">
            <div class="pvotes-box-head">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle access-color">Data Request id</div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-box-subtitle access-color">Project title</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle access-color">Date</div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pvotes-box-subtitle f-center access-color">+ Info</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle f-center access-color">Election status
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle f-center access-color">Election actions
                </div>
            </div>
            <div class="admin-box-body">
                <hr class="pvotes-main-separator">
                <div dir-paginate="dar in AdminManageAccess.dars | filter: searchAccess | itemsPerPage:10" current-page="AdminManageAccess.currentDARPage">
                    <div ng-if="!dar.isCanceled" class="row pvotes-main-list">
                        <div class="row pvotes-main-list" ng-class="{'list-highlighted': dar.needsApproval}">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id" title="{{dar.frontEndId}}">
                                <div ng-class="{'access-color': dar.needsApproval, 'cancel-color': dar.dataSetElectionResult == 'Denied','dataset-color': dar.dataSetElectionResult == 'Approved'}"
                                    class="glyphicon glyphicon-exclamation-sign" tooltip="{{dar.dataSetElectionResult}}" tooltip-class="tooltip-class"
                                    tooltip-trigger tooltip-placement="right" ng-show="dar.needsApproval"></div>
                                <span class="list-highlighted-item">{{dar.frontEndId}}</span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-list-id" title="{{dar.projectTitle}}">{{dar.projectTitle}}</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{dar.createDate | date:dateFormat}}
                            </div>
                            <a href="" class="admin-manage-buttons col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                <div class="enabled hover-color" ng-click="AdminManageAccess.openApplication(dar.dataRequestId, dar.electionStatus)">
                                    <span>Summary</span>
                                </div>
                            </a>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list bold">
                                <span ng-if="dar.electionStatus == 'un-reviewed'"><a ng-click="AdminManageAccess.open('access_preview_results', dar.electionId, dar.dataRequestId)">Un-reviewed</a></span>
                                <span ng-if="dar.electionStatus == 'Open' || dar.electionStatus == 'Final'"><a ng-click="AdminManageAccess.open('access_review_results', dar.electionId, dar.dataRequestId)">Open</a></span>
                                <span ng-if="dar.electionStatus == 'Canceled'"><a ng-click="AdminManageAccess.open('access_preview_results', dar.electionId, dar.dataRequestId)">Canceled</a></span>
                                <span ng-if="(dar.electionStatus == 'Closed' || dar.electionStatus == 'PendingApproval') && dar.electionVote"><a ng-click="AdminManageAccess.open('access_results_record', dar.electionId, dar.dataRequestId)">Approved</a></span>
                                <span ng-if="(dar.electionStatus == 'Closed' || dar.electionStatus == 'PendingApproval') && !dar.electionVote"><a ng-click="AdminManageAccess.open('access_results_record', dar.electionId, dar.dataRequestId)">Denied</a></span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
                                <div class="row no-margin">
                                    <a href="" class="admin-manage-buttons col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <div ng-if="dar.electionStatus != 'Open' &&  dar.electionStatus != 'Final' && dar.electionStatus != 'PendingApproval'" class="create hover-color"
                                            ng-click="AdminManageAccess.openCreate(dar.dataRequestId)">Create</div>
                                        <div ng-if="dar.electionStatus == 'PendingApproval'" class="disabled">
                                            <span>Create</span>
                                        </div>
                                        <div ng-if="dar.electionStatus == 'Open'||  dar.electionStatus == 'Final'" class="cancel hover-color" ng-click="AdminManageAccess.openCancel(dar)">
                                            <span>Cancel</span>
                                        </div>
                                    </a>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 bonafide-icon">
                                        <a ng-if="dar.status !== null" ng-click="AdminManageAccess.openResearcherReview('researcher_review', dar.ownerUser.dacUserId)">
                                        <span class="glyphicon glyphicon-thumbs-up dataset-color" ng-if="dar.status === 'approved'" tooltip="Bonafide researcher" tooltip-class="tooltip-class" tooltip-trigger tooltip-placement="left"></span>
                                        <span class="glyphicon glyphicon-thumbs-down cancel-color" ng-if="dar.status === 'rejected'" tooltip="Non-Bonafide researcher" tooltip-class="tooltip-class" tooltip-trigger tooltip-placement="left"></span>
                                        <span class="glyphicon glyphicon-hand-right hover-color" ng-if="dar.status === 'pending'" tooltip="Researcher review pending" tooltip-class="tooltip-class" tooltip-trigger tooltip-placement="left"></span>
                                        <span class="glyphicon glyphicon-hand-right dismiss-color" ng-if="dar.status === null"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="pvotes-separator">
                    </div>
                </div>
                <div dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" class="pvotes-pagination">
                </div>
            </div>
        </div>
    </div>
</div>
