<div ng-include src="'app/header/header.html'"></div>
<div class="container">
    <div class="row no-margin">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title-wrapper">
            <img src="../assets/images/icon_manage_dul.png" alt="Manage DUL icon" class="cm-icons main-icon-title">
            <h2 class="main-title margin-sm dul-color">Manage Data Use Limitations<br>
                <div class="main-title-description">Select and manage Data Use Limitations for DAC review</div>
            </h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 search-reviewed no-padding">
            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
                <div class="search-text">
                    <i class="glyphicon glyphicon-search dul-color"></i>
                    <input type="search" class="form-control users-search" placeholder="Enter search term..."
                           ng-model="searchDUL"/>
                </div>
            </div>
            <a class="col-lg-6 col-md-6 col-sm-5 col-xs-5 admin-add-button dul-background no-margin" ng-click="AdminManage.addDul()">
                <div class="all-icons add-dul_white"></div>
                <span>Add Data Use Limitations</span>
            </a>
        </div>
    </div>

    <div class="jumbotron box-vote-singleresults box-vote-no-margin">
        <div class="grid-9-row pushed-2">
            <div class="col-2 cell-header dul-color">Consent id</div>
            <div class="col-2 cell-header dul-color">Consent Group Name</div>
            <div class="col-1 cell-header dul-color">Election N°</div>
            <div class="col-1 cell-header dul-color">Date</div>
            <div class="col-1 cell-header f-center dul-color">Edit Record</div>
            <div class="col-1 cell-header f-center dul-color">Election status</div>
            <div class="col-1 cell-header f-center dul-color">Election actions</div>
        </div>

        <hr class="pvotes-main-separator">

        <div dir-paginate="election in AdminManage.electionsList.dul | filter: searchDUL | itemsPerPage:10">
            <div class="grid-9-row pushed-2">
                <div class="col-2 cell-body text" ng-class="{flagged : election.archived}" title="{{election.consentName}}">{{election.consentName}}</div>
                <div class="col-2 cell-body text" title="{{election.groupName}}">{{election.groupName}}</div>
                <div class="col-1 cell-body text">
                    <span ng-show="election.electionStatus == 'un-reviewed'">- -</span>
                    <span ng-show="election.electionStatus != 'un-reviewed'">{{election.version}}</span>
                </div>
                <div class="col-1 cell-body text">{{election.createDate | date:'yyyy-MM-dd'}}</div>
                <div class="col-1 cell-body f-center">
                    <button class="cell-button hover-color" ng-disabled="election.electionStatus != 'un-reviewed' || !election.editable" ng-click="AdminManage.editDul(election.consentId)">Edit</button>
                </div>
                <div class="col-1 cell-body text f-center bold">
                    <span ng-if="election.electionStatus == 'un-reviewed'"><a ui-sref="dul_preview_results({consentId: '{{election.consentId}}'})">Un-reviewed</a></span>
                    <span ng-if="election.electionStatus == 'Open'"><a ui-sref="dul_review_results({consentId: '{{election.consentId}}'})">Open</a></span>
                    <span ng-if="election.electionStatus == 'Canceled'"><a ui-sref="dul_preview_results({consentId: '{{election.consentId}}'})">Canceled</a></span>
                    <span ng-if="election.electionStatus == 'Closed'"><a ui-sref="dul_results_record({electionId: '{{election.electionId}}'})">Reviewed</a></span>
                </div>
                <div class="col-1 cell-body f-center">
                    <button ng-if="election.electionStatus != 'Open' && election.editable" ng-disabled="!election.editable" class="cell-button hover-color" ng-click="AdminManage.openCreate(election)">Create</button>
                    <button ng-if="election.electionStatus == 'Open'" class="cell-button cancel-color" ng-click="AdminManage.openCancel(election)">Cancel</button>
                </div>
                <div class="icon-actions">
                    <button ng-disabled="election.electionStatus == 'un-reviewed' || election.archived" ng-click="AdminManage.openArchive(election)">
                        <span class="glyphicon glyphicon-inbox caret-margin" ng-class="{activated : election.archived}" aria-hidden="true" tooltip-class="tooltip-class" tooltip-trigger tooltip-placement="right" tooltip="Archive election"></span>
                    </button>
                    <button ng-disabled="election.electionStatus != 'un-reviewed'" ng-click="AdminManage.openDelete(election.consentId)">
                        <span class="glyphicon glyphicon-trash caret-margin" aria-hidden="true" tooltip-class="tooltip-class" tooltip-trigger tooltip-placement="right" tooltip="Delete record"></span>
                    </button>
                </div>
            </div>
            <hr class="pvotes-separator">
        </div>
        <div dir-pagination-controls
            max-size="10"
            direction-links="true"
            boundary-links="true"
            class="pvotes-pagination">
        </div>
    </div>
</div>
