<div ng-include src="'app/header/header.html'"></div>
<div class="container">
    <div class="row no-margin">
        <h2 class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cm-title dul-color no-padding">
            <img src="../assets/images/icon_manage_dul.png" alt="Manage DUL icon" class="cm-icons">Manage Data Use Limitations
            <div class="cm-title-admin-description">Select and manage Data Use Limitations for DAC review</div>
        </h2>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 search-reviewed">
            <div class="search-text">
                <i class="glyphicon glyphicon-search dul-color"></i>
                <input type="search" class="form-control users-search" placeholder="Enter search term..." ng-model="searchDUL"/>
            </div>
        </div>
        <div>
            <a class="col-lg-3 col-md-3 col-sm-6 col-xs-6 admin-add-button dul-background" ng-click="AdminManage.addDul()">
                <div class="all-icons add-dul_white"></div>
                <span>Add Data Use Limitations</span>
            </a>
        </div>
    </div>
    <div class="jumbotron box-vote-singleresults">
        <div class="row manage-wrapper">
            <div class="pvotes-box-head">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle dul-color">Consent id</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-box-subtitle dul-color">Consent name</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle dul-color">Date</div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pvotes-box-subtitle f-center dul-color">Edit Record</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle f-center dul-color">Election status</div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pvotes-box-subtitle f-center dul-color">Election actions</div>
            </div>

            <div class="admin-box-body">
                <hr class="pvotes-main-separator">
                <div dir-paginate="election in AdminManage.electionsList.dul | filter: searchDUL | itemsPerPage:10">
                    <div class="row pvotes-main-list">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{election.consentId}}</div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-list-id">{{election.consentName}}</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{election.createDate | date:'yyyy-MM-dd HH:mm'}}</div>
                        <a href="#" class="admin-manage-buttons col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                            <div ng-if="election.electionStatus != 'Open'" class="enabled hover-color" ng-click="AdminManage.editDul(election.consentId)">
                                <span>Edit</span>
                            </div>
                            <div ng-if="election.electionStatus == 'Open'" class="disabled hover-color">
                                <span>Edit</span>
                            </div>
                        </a>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list bold">
                            <span ng-if="election.electionStatus == 'un-reviewed'">Un-reviewed</span>
                            <span ng-if="election.electionStatus == 'Open'">Open</span>
                            <span ng-if="election.electionStatus == 'Canceled'">Canceled</span>
                            <span ng-if="election.electionStatus == 'Closed'">Reviewed</span>
                        </div>
                        <div>
                            <a class="col-lg-1 col-md-1 col-sm-1 col-xs-1 admin-manage-buttons no-padding">
                                <div ng-if="election.electionStatus != 'Open'" class="create hover-color" ng-click="AdminManage.openCreate(election.consentId)">
                                    <span>Create</span>
                                </div>
                                <div ng-if="election.electionStatus == 'Open'" class="cancel hover-color" ng-click="AdminManage.openCancel(election)">
                                    <span>Cancel</span>
                                </div>
                            </a>
                        </div>
                        <div ng-repeat="election in AdminManage.electionsList.dul" class="remove-dul-col">
                            <a href="#">
                                <span class="cm-icon-button glyphicon glyphicon-trash caret-margin" aria-hidden="true"></span> <!--disabled class should be added here when status is either: open, canceled and reviewed-->
                            </a>
                            <hr class="pvotes-separator-longer">
                        </div>
                    </div>
                    <hr class="pvotes-separator">
                </div>
            </div>
            <div dir-pagination-controls
                 max-size="10"
                 direction-links="true"
                 boundary-links="true"
                 class="pvotes-pagination">
            </div>
        </div>
    </div>
</div>
