<div ng-include src="'app/header/header.html'"></div>
<div class="container">
    <div class="row no-margin">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title-wrapper">
            <img src="../assets/images/icon_manage_dul.png" alt="Manage DUL icon" class="cm-icons main-icon-title">
            <h2 class="main-title margin-sm dul-color">Manage Data Use Limitations<br>
                <div class="main-title-description">Select and manage Data Use Limitations for DAC review</div>
            </h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 search-reviewed no-padding">
            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
                <div class="search-text">
                    <i class="glyphicon glyphicon-search dul-color"></i>
                    <input type="search" class="form-control users-search" placeholder="Enter search term..."
                           ng-model="searchDUL"/>
                </div>
            </div>
            <a class="col-lg-6 col-md-6 col-sm-5 col-xs-5 admin-add-button dul-background no-margin" ng-click="AdminManage.addDul()">
                <div class="all-icons add-dul_white"></div>
                <span>Add Data Use Limitations</span>
            </a>
        </div>
    </div>

    <!--In the entire page, look and replace: election.electionArchived and election.version variables with the correct ones-->

    <div class="jumbotron box-vote-singleresults box-vote-no-margin">
        <div class="grid-row pushed">           
            <div class="col-2 cell-header dul-color">Consent id</div>
            <div class="col-1 cell-header dul-color">Election N°</div>
            <div class="col-1 cell-header dul-color">Date</div>
            <div class="col-1 cell-header f-center dul-color">Edit Record</div>
            <div class="col-1 cell-header f-center dul-color">Election status</div>
            <div class="col-1 cell-header f-center dul-color">Election actions</div>
        </div>

        <hr class="pvotes-main-separator">

        <div dir-paginate="election in AdminManage.electionsList.dul | filter: searchDUL | itemsPerPage:10">
            <div class="grid-row pushed">
                <div class="col-2 cell-body text" ng-class="{flagged : election.electionArchived}">{{election.consentName}}</div>
                <div class="col-1 cell-body text">
                    <span ng-show="election.electionStatus == 'un-reviewed'">- -</span>
                    <span ng-show="election.electionStatus != 'un-reviewed'">{{election.version}}</span>
                </div>
                <div class="col-1 cell-body text">{{election.createDate | date:'yyyy-MM-dd'}}</div>
                <div class="col-1 cell-body">
                    <a href="" class="admin-manage-buttons">
                        <div ng-disabled="election.electionStatus != 'un-reviewed'" class="hover-color" ng-class="{enabled: election.electionStatus == 'un-reviewed', disabled: election.electionStatus != 'un-reviewed'}" ng-click="AdminManage.editDul(election.consentId)">Edit</div>
                    </a>
                </div>
                <div class="col-1 cell-body text f-center bold">
                    <span ng-if="election.electionStatus == 'un-reviewed'"><a ui-sref="dul_preview_results({consentId: '{{election.consentId}}'})">Un-reviewed</a></span>
                    <span ng-if="election.electionStatus == 'Open'"><a ui-sref="dul_review_results({consentId: '{{election.consentId}}'})">Open</a></span>
                    <span ng-if="election.electionStatus == 'Canceled'"><a ui-sref="dul_preview_results({consentId: '{{election.consentId}}'})">Canceled</a></span>
                    <span ng-if="election.electionStatus == 'Closed'"><a ui-sref="dul_results_record({electionId: '{{election.electionId}}'})">Reviewed</a></span>
                </div>
                
                <div class="col-1 cell-body">
                    <a class="admin-manage-buttons">
                        <div ng-if="election.electionStatus != 'Open' && election.editable" class="create hover-color" ng-click="AdminManage.openCreate(election.consentId)">
                            <span>Create</span>
                        </div>
                        <!-- Not sure when election.editable is true, remove if necessary 
                        <div ng-if="election.electionStatus != 'Open' && !election.editable" class="disabled hover-color">
                            <span>Create</span>
                        </div> -->
                        <div ng-if="election.electionStatus == 'Open' " class="cancel hover-color" ng-click="AdminManage.openCancel(election)">
                            <span>Cancel</span>
                        </div>
                    </a>
                </div>
                <div class="icon-actions">
                    <a ng-disabled="election.electionStatus == 'un-reviewed' || election.electionArchived" ng-click="AdminManage.openArchive(election.consentId)">
                        <span class="glyphicon glyphicon-inbox caret-margin" ng-class="{activated : election.electionArchived}" aria-hidden="true" tooltip-class="tooltip-class" tooltip-trigger tooltip-placement="right" tooltip="Archive election"></span>
                    </a>
                    <a ng-disabled="election.electionStatus != 'un-reviewed'" ng-click="AdminManage.openDelete(election.consentId)">
                        <span class="glyphicon glyphicon-trash caret-margin" aria-hidden="true" tooltip-class="tooltip-class" tooltip-trigger tooltip-placement="right" tooltip="Delete record"></span>
                    </a>
                </div>
            </div>
            <hr class="pvotes-separator">
        </div>
        <div dir-pagination-controls
            max-size="10"
            direction-links="true"
            boundary-links="true"
            class="pvotes-pagination">
        </div>
    </div>
</div>
