<div class="modal-alerts">
    <div class="modal-content">
        <div class="modal-header admin-modal-header">
            <button type="button" class="modal-close-btn close" ng-click="FinalVoteModal.cancel()"><span aria-hidden="true">&times;</span></button>
            <h2 ng-show="electionType == 'access'" class="pvotes-box-title access-color">Post Final Access Decision?
                <small ng-show="electionType == 'access'">Are you sure you want to post this Final Access Decision?</small>
            </h2>
            <h2 ng-show="electionType == 'agreement'" class="pvotes-box-title access-color">Post Decision Agreement?
                <small ng-show="electionType == 'agreement'">Are you sure you want to post this Decision Agreement?</small>
            </h2>
        </div>
        <div class="modal-footer admin-modal-footer">
            <button ng-disabled="disableButton"   type="button" class="btn dismiss-background" ng-click="FinalVoteModal.cancel()">No</button>
            <button ng-disabled="disableButton" type="button" class="btn access-background" ng-click="FinalVoteModal.ok()">Yes</button>
        </div>
    </div>
</div>
