<div ng-include src="'app/header/header.html'"></div>
<div class="container">
    <h2 class="cm-title common-color">
        <img src="assets/images/icon_reviewed.png" alt="Reviewed cases icon" class="cm-icons">Reviewed Cases Record<br>
        <div class="cm-title-description">List of Reviewed cases and their results</div>
    </h2>
    <hr class="section-separator">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">
            <h2 class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pvotes-box-title dul-color">
                <img src="assets/images/icon_dul.png" alt="DUL icon" class="pvotes-icons">Data Use Limitations Reviewed Cases
                <div class="pvotes-box-title-description">List of Data Use Limitations Reviewed Cases and their results</div>
            </h2>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-reviewed">
                <div class="search-text">
                    <i class="glyphicon glyphicon-search dul-color"></i>
                    <input type="search" class="form-control" placeholder="Enter search term..." ng-model="searchDULcases"/>
                </div>
            </div>
        </div>
        <div class="jumbotron box-vote-singleresults">
            <div class="row">
                <div class="pvotes-box-head">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-box-subtitle dul-color">Consent id</div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-box-subtitle dul-color">Final Result Date</div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 center-text pvotes-box-subtitle dul-color">Final Result</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 center-text pvotes-box-subtitle dul-color">Record</div>
                    <hr class="pvotes-main-separator">
                </div>
                <div class="pvotes-box-body">
                    <div dir-paginate="election in ReviewedCases.electionsList.dul | filter: searchDULcases | itemsPerPage:5" pagination-id="dulCases">
                        <hr class="pvotes-separator">
                        <div class="row pvotes-main-list reviewed-cases-list">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-list-id">{{election.referenceId}}</div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-list-id">{{election.finalVoteDate}}</div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-list-id center-text bold">
                                <span ng-if="election.finalVoteString == 'Yes'" class="dul-color">Yes</span>
                                <span ng-if="election.finalVoteString == 'No'">No</span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn-record">
                                <a ui-sref="dul_results_record({electionId: '{{election.electionId}}'})">Record</a>
                            </div>
                        </div>
                    </div>
                    <hr class="pvotes-separator">
                </div>
                <div dir-pagination-controls
                     max-size="5"
                     direction-links="true"
                     boundary-links="true"
                     class="pvotes-pagination"
                     pagination-id="dulCases">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">
            <h2 class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pvotes-box-title access-color">
                <img src="assets/images/icon_access.png" alt="Access icon" class="pvotes-icons">Data Access Request Reviewed Cases
                <div class="pvotes-box-title-description">List of Data Access Request Reviewed Cases and their results</div>
            </h2>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-reviewed">
                <div class="search-text">
                    <i class="glyphicon glyphicon-search access-color"></i>
                    <input type="search" class="form-control" placeholder="Enter search term..." ng-model="searchAccessCases"/>
                </div>
            </div>
        </div>
        <div class="jumbotron box-vote-singleresults">
            <div class="row">
                <div class="pvotes-box-head">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-box-subtitle access-color">Data Request Id</div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-box-subtitle access-color">Final Result Date</div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 center-text pvotes-box-subtitle access-color">Final Result</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 center-text pvotes-box-subtitle access-color">Record
                    </div>
                    <hr class="pvotes-main-separator">
                </div>
                <div class="pvotes-box-body" id="searchTextResults">
                    <div dir-paginate="election in ReviewedCases.electionsList.access | filter: searchAccessCases | itemsPerPage:5" pagination-id="accessCases">
                        <hr class="pvotes-separator">
                        <div class="row pvotes-main-list admin-users-list">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-list-id">{{election.referenceId}}</div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-list-id">{{election.finalVoteDate}}</div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-list-id center-text bold">
                                <span ng-if="election.finalVote == true" class="access-color">Yes</span>
                                <span ng-if="election.finalVote == false">No</span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn-edit">
                                   <a ui-sref="access_results_record({electionId: '{{election.electionId}}'})">Record</a>

                            </div>
                        </div>
                    </div>
                    <hr class="pvotes-separator">
                </div>
                <div dir-pagination-controls
                     max-size="5"
                     direction-links="true"
                     boundary-links="true"
                     class="pvotes-pagination"
                     pagination-id="accessCases">
                </div>
            </div>
        </div>
    </div>
</div>
