<div ng-include src="'app/header/header.html'"></div>
<div class="container">
    <div class="row fsi-row-lg-level fsi-row-md-level title-wrapper">
        <img src="assets/images/icon_reviewed.png" alt="Reviewed cases icon" class="cm-icons main-icon-title">
        <h2 class="main-title margin-sm common-color">
            Reviewed Cases Record<br>
            <div class="main-title-description">List of Reviewed cases and their results</div>
        </h2>
    </div>
    <hr class="section-separator">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <h2 class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pvotes-box-title dul-color">
                <img src="assets/images/icon_dul.png" alt="DUL icon" class="pvotes-icons">Data Use Limitations Reviewed Cases
                <div class="pvotes-box-title-description">List of Data Use Limitations Reviewed Cases and their results</div>
            </h2>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-reviewed">
                <div class="search-text">
                    <i class="glyphicon glyphicon-search dul-color"></i>
                    <input type="search" class="form-control" placeholder="Enter search term..." ng-model="searchDULcases"/>
                </div>
            </div>
        </div>
        <div class="jumbotron box-vote-singleresults box-vote-no-margin">
            <div class="grid-row">
                <div class="col-3 cell-header cell-sort dul-color" ng-click="sort('displayId')">Consent id
                    <span class="glyphicon sort-icon glyphicon-sort"></span>
                </div>
                <div class="col-2 cell-header cell-sort dul-color" ng-click="sort('version')">Election N°
                    <span class="glyphicon sort-icon glyphicon-sort"></span>
                </div>
                <div class="col-1 cell-header dul-color">Result Date</div>
                <div class="col-1 cell-header f-center dul-color">Final Result</div>
                <div class="col-1 cell-header f-center dul-color">Record</div>
            </div>
            <hr class="pvotes-main-separator">
            <div dir-paginate="election in ReviewedCases.electionsList.dul | orderBy:sortBy:reverse | filter: searchDULcases | itemsPerPage:5" pagination-id="dulCases" current-page="currentDulPage">
                <div class="grid-row">
                    <div class="col-3 cell-body text" ng-class="{flagged : election.archived}">{{election.displayId}}</div>
                    <div class="col-2 cell-body text">{{election.version < 10 ? '0' + election.version : election.version}}</div>
                    <div class="col-1 cell-body text">{{election.finalVoteDate}}</div>
                    <div class="col-1 cell-body text f-center bold">
                        <span ng-if="election.finalVoteString == 'Yes'" class="dul-color">YES</span>
                        <span ng-if="election.finalVoteString == 'No'">NO</span>
                    </div>
                    <div class="col-1 cell-body f-center">
                        <button class="cell-button hover-color" ui-sref="dul_results_record({electionId: '{{election.electionId}}'})">Record</button>
                    </div>
                </div>
                <hr class="pvotes-separator">
            </div>
            <div dir-pagination-controls
                 max-size="5"
                 direction-links="true"
                 boundary-links="true"
                 class="pvotes-pagination"
                 pagination-id="dulCases">
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <h2 class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pvotes-box-title access-color">
                <img src="assets/images/icon_access.png" alt="Access icon" class="pvotes-icons">Data Access Reviewed Cases
                <div class="pvotes-box-title-description">List of Data Access Request Reviewed Cases and their results</div>
            </h2>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-reviewed">
                <div class="search-text">
                    <i class="glyphicon glyphicon-search access-color"></i>
                    <input type="search" class="form-control" placeholder="Enter search term..." ng-model="searchAccessCases"/>
                </div>
            </div>
        </div>
        <div class="jumbotron box-vote-singleresults box-vote-no-margin">
            <div class="grid-row">
                <div class="col-2 cell-header access-color">Data Request id</div>
                <div class="col-3 cell-header access-color">Project Title</div>
                <div class="col-1 cell-header access-color">Result Date</div>
                <div class="col-1 cell-header f-center access-color">Final Result</div>
                <div class="col-1 cell-header f-center access-color">Record</div>
            </div>
            <hr class="pvotes-main-separator">
            <div dir-paginate="election in ReviewedCases.electionsList.access | filter: searchAccessCases | itemsPerPage:5" pagination-id="accessCases" current-page="currentDarPage">
                <div class="grid-row">
                    <div class="col-2 cell-body text" title="{{election.displayId}}">{{election.displayId}}</div>
                    <div class="col-3 cell-body text" title="{{election.projectTitle}}">{{election.projectTitle}}</div>
                    <div class="col-1 cell-body text">{{election.finalVoteDate}}</div>
                    <div class="col-1 cell-body text f-center bold">
                        <span ng-if="election.finalVote == true" class="access-color">YES</span>
                        <span ng-if="election.finalVote == false">NO</span>
                    </div>
                    <div class="col-1 cell-body f-center">
                        <button class="cell-button hover-color" ui-sref="access_results_record({electionId: '{{election.electionId}}', referenceId: '{{election.referenceId}}'})">Record</button>
                    </div>
                </div>
                <hr class="pvotes-separator">
            </div>
            <div dir-pagination-controls
                 max-size="5"
                 direction-links="true"
                 boundary-links="true"
                 class="pvotes-pagination"
                 pagination-id="accessCases">
            </div>
        </div>
    </div>
</div>
