<div class="modal-dialog modal-alerts">
    <div class="modal-content">
        <div class="modal-header admin-modal-header">
            <button type="button" class="modal-close-btn close" ng-click="DARModal.cancel()"><span aria-hidden="true">&times;</span></button>
            <h2 class="pvotes-box-title rp-color">Data Request Confirmation
                <small>Are you sure you want to send this Research Purpose Application?</small>
            </h2>
        </div>
        <div class="modal-footer admin-modal-footer">
            <button type="button" class="btn dismiss-background" ng-click='DARModal.cancel()'>No</button>
            <button type="button" class="{{DARModal.showButton}} btn rp-background" ng-click='DARModal.ok()'>Yes</button>
        </div>
    </div>
</div>

